<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <label for="">full-name</label>
      <input type="text" name="fullnamereg" id="" /><br />
      <label for="">address</label>
      <input type="text" name="addreg" id="" /><br />
      <label for="">Blood-Group</label>
      <input type="text" name="bgreg" id="" /> <br />
      <label for="">Sex</label>
      <select name="sexreg" id="">
        <option value="Male">male</option>
        <option value="Female">female</option>
        <option value="Other">Other</option></select
      ><br />
      <label for="">hospital-name</label>
      <input type="text" name="hospitalreg" id="" /><br />
      <label for="">phone-number</label>
      <input type="tel" name="pnoreg" id="" /><br />
      <label for="">email</label>
      <input type="email" name="emailreg" id="" /><br />
      <button type="submit">REGISTER</button>
    </form>
  </body>
</html>
